/* @media (max-width: 768px) {
	.container {
		width: 90%;
	}

	.top {
		display: none;
	}

	.navbar-icon {
		display: block;
	}

	.mobile-navbar {
		display: none;
	}

	.mobile-flex {
		flex-wrap: wrap;
	}

	.main section:not(:last-child) {
		margin-bottom: 5rem;
	}

	.grid-mobile {
		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-columns: 100%;
	}

	.about__content-text {
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.about__content-img {
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.about__content-img img {
		height: 95%;
		width: auto;
	}

	.about__box-mobile {
		flex-direction: column;
	}

	.partners img {
		width: 5rem;
		height: auto;
	}

	.contact__box-mobile {
		grid-template-columns: 50% 50%;
	}

	.contact__box-item:first-of-type {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.contact__box-item:nth-of-type(2),
	.contact__box-item:nth-of-type(3) {
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.contact__box-item:nth-of-type(4),
	.contact__box-item:nth-of-type(5) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.greeting {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}; */

@media (min-width: 768px) {
	.nav {
		/* top: 0; */
		position: relative;
	}
	.navbar-icon {
		display: none;
	}
	.top {
		display: inline;
	}

	.p-fixed {
		top: 0;
		position: fixed;
	}

	.display-none {
		display: inline;
	}

	.navbar-items-lg {
		list-style: none;
	}
}
